projects/002-AI-News-Digest/workflow.json
{
  "name": "n8n-ai-news-digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "048cc69d-86d1-4063-88dc-b210d4db980f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/automation/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "cecdfe19-e7ae-4558-9558-80f204090aef",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE
"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"llama-3.3-70b-versatile\",\"messages\":[{\"role\":\"user\",\"content\":\"لخص العنوان التالي عن الأتمتة والذكاء الاصطناعي بجملة أو جملتين بالعربي: {{ $json.title }}\"}]}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "c10fcfe1-81b5-46c6-b89c-0831f3a4333d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.choices[0].message.content }}\n\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "b5464eab-8822-4929-b863-9aec2deb1374",
      "name": "Send a text message",
      "webhookId": "22bf3d5b-dad0-4647-afa4-41c28ffdca2c",
      "credentials": {
        "telegramApi": {
          "id": "YOJ1Xt5IVk62QePx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "fec2253d-a7b4-4a38-b5bd-026452b42919",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "36756a84-1c22-489a-8aec-b853698a4531",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2aa7839f37b4c5be337285521714e76b9269fb1a403ff2e88dd8932342edeae0"
  },
  "nodeGroups": [],
  "id": "8AxRGs1vhOTlkyLA",
  "tags": []
}
