projects/003-Amazon-Price-Tracker/workflow.json
{
  "name": "003-Amazon-Price-Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        -384
      ],
      "id": "b3e71530-85ea-49e7-8674-724621cf2704",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.amazon.com.be/dp/B0GS7D8BN9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -624,
        -384
      ],
      "id": "87b283e0-2838-4397-b311-35b00d345ecf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": ".a-offscreen"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -208,
        -384
      ],
      "id": "a4a4fe90-1bd2-473b-8312-6b3a94c2994e",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5da37f3e-a280-4145-95de-d49c73752940",
              "name": "PriceNumber",
              "value": "={{ parseFloat($json[\"\"].replace(',', '.').replace(/[^0-9.]/g, '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -384
      ],
      "id": "041e0db5-a2b8-424f-9849-3e3ef9d30411",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID","text": "={
          { $json.message
          }
        }","additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        -144
      ],
      "id": "ec18e8ba-39a8-478e-ae44-0e4017c7919f",
      "name": "Send a text message",
      "webhookId": "663ac696-cc5d-455f-b805-fe59fd3e5aaa",
      "credentials": {
        "telegramApi": {
          "id": "U4bJhoX9ppJQAJQU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priceNumeric }}",
                    "rightValue": 100,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "a3262a56-0e87-441c-8ac7-2897d473b20f"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -640,
        -144
      ],
      "id": "6f0f5e7a-eb3f-4976-963c-3a23e32a812b",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2509ddd8-7169-43e2-9680-c7de9799b76e",
              "name": "message",
              "value": "=⁠🔔 انخفض السعر!\n📱 Google Fitbit Air\n💰 السعر الآن:  ⁠{{ $json.priceNumeric }}⁠\n🔗 https://www.amazon.com.be/dp/B0GS7D8BN9\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -144
      ],
      "id": "e14d337a-4d72-4c7f-a899-0a619b4d398e",
      "name": "Build Message"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: $json\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -384
      ],
      "id": "3c5b7035-fce1-4916-9c21-8cdc747851d4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// نقوم بسحب القيمة من عقدة HTML ونحولها لرقم\nconst rawPrice = $('HTML').item.json.price;\n// نزيل رمز العملة ونحول الفارزة لنقطة ونحولها لرقم\nconst priceNumeric = parseFloat(rawPrice.replace('€', '').replace(',', '.'));\n\n// نمرر الرقم الناتج\nreturn {\n  priceNumeric: priceNumeric\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -384
      ],
      "id": "6a27b60b-45a2-4507-b980-2e093fb148a8",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8f4f98b8-13cc-4241-92ac-8fb5493ca808",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86faf4a4f0e55a0b98faea99163016ed96ba542059c26f385405885950eb69be"
  },
  "nodeGroups": [],
  "id": "YVe1zJNneXYjyVNz",
  "tags": []
}
